<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.diogomarques.wifioppish"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- txt log file -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- GPS coordinates -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Preferences activity -->
        <activity android:name="net.diogomarques.wifioppish.MyPreferenceActivity" >
        </activity>

        <!-- Messages Provider (Persistent storage) -->
        <provider
            android:name="MessagesProvider"
            android:authorities="net.diogomarques.wifioppish.MessagesProvider"
            android:exported="true" >
        </provider>

        <!-- LOST Service -->
        <service  android:enabled="true"
                    android:exported="true"
                    android:name="net.diogomarques.wifioppish.service.LOSTService" >
            <intent-filter>
                <action android:name="net.diogomarques.wifioppish.service.LOSTService.START_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>